[MASTER]
ignore=temp,tests,venv

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    invalid-name,
    too-few-public-methods,
    protected-access,
    import-outside-toplevel

[FORMAT]
max-line-length=88
max-module-lines=1000

[DESIGN]
max-args=7
max-locals=15
max-returns=6
max-branches=12
max-statements=50
max-parents=7
max-attributes=7

[IMPORTS]
ignored-modules=eel,cadquery,open3d